<%= form_with(model: todo, url: [campaign, todo], local: true) do |form| %>
  <div class="input-group">
    <%= form.text_field :title, id: :comment_title, class: 'form-control' %>
    <span class="input-group-btn">
      <%= form.submit 'Add Todo', class: 'btn btn-primary' %>
    </span>
  </div>
<% end %>
<hr >
