<%= form_with(model: todo, url: [campaign, todo], remote: remote, local: !remote) do |form| %>
  <div class="input-group">
    <%= form.text_field :title, id: :todo_title, class: 'form-control' %>
    <span class="input-group-btn">
      <%= form.submit class: 'btn btn-primary' %>
    </span>
  </div>
<% end %>
<hr >
